.btn-primary {
  background-color:$primary-color;
  border-color:$primary-color;
}
.btn-secondary {
  background-color:$secondary-color;
  border-color:$secondary-color;
}

.btn-primary, .btn-secondary {
  &:hover, &:active, &:focus {
    background-color:$tertiary-color !important;
    border-color:$tertiary-color !important;
    box-shadow:none !important;
  }
}
.show > .btn-primary.dropdown-toggle {
  background-color:$tertiary-color !important;
  border-color:$tertiary-color !important;
  box-shadow:none !important;
}
.dropdown-toggle::after {
  vertical-align:middle;
  margin-left:10px;
}

.btn-outline-white {
  background-color:transparent;
  border-color:white;
  color:white;
  
  &:hover, &:active, &:focus {
    color:white;
    background-color:$primary-color;
    border-color:$primary-color;
  }
}