.dropdown-menu {
  background-color:white;
  
  .dropdown-item {
    padding:0;
    background-color:transparent;
    
    a {
      padding:.25rem 1.5rem;
      display:block;
    }
    
    &.active a {
      background-color:$secondary-color;
      color:white;
    }
  }
}
