// Bootstrap Grid Changes

/* Changes the default gutter size */
$xgutter:2rem;
$ygutter:4rem;

// Sets gutters on all cols
[class^='col-'] {
  padding-left:$xgutter;
  padding-right:$xgutter;
  margin-top:$ygutter;
  margin-bottom:$ygutter;
}

@each $breakpoint in $breakpoints {
  $size: nth($breakpoint, 1);
  $width: nth($breakpoint, 2);
  
  // Upon collapse of cols at the appropriate breakpoint, adds a margin
  @include mq-max-width($width) {
    [class^='col-#{$size}'] + [class^='col-#{$size}'] {
      margin-top:0;
      margin-bottom:$ygutter;
    }
    .container { 
      max-width:1200px; 
    }
    .container-fluid .container {
      padding:0;

      .row {
        margin-left:0;
        margin-right:0;
      }
    }
    // Adds the gutter to the left and right when collapsed
    [class^='col-'] {       
      padding-left:$xgutter;
      padding-right:$xgutter;
    }
  }
}

