// Bootstrap Grid Changes

/* Changes the default gutter size */
$gutter:2rem;

// Sets gutter to one side when not-collapsed
[class^='col-'] {
  padding-left:$gutter;
  padding-right:0;
  
  &:last-child {
    padding-right:$gutter;
  }
}

@each $breakpoint in $breakpoints {
  $size: nth($breakpoint, 1);
  $width: nth($breakpoint, 2);
  
  // Upon collapse of cols at the appropriate breakpoint, adds a margin
  @include mq-max-width($width) {
    [class^='col-#{$size}'] + [class^='col-#{$size}'] {
      margin-top:2rem;
    }
    .container { 
      max-width:1200px; 
    }
    .container-fluid .container {
      padding:0;
      .row {
        margin-left:0;
        margin-right:0;
      }
    }
    // Adds the gutter to the left and right when collapsed
    [class^='col-'] {       
      padding-left:$gutter;
      padding-right:$gutter;
    }
  }
}

