// position 
.pos-relative{
    position: relative
}

// cover links
.cover-link {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:100;
}

// bg colors
[class*="bg-"] {
  color:white;

  &[class*="-primary"] {
    background-color:$primary-color !important;
  }
  &[class*="-secondary"] {
    background-color:$secondary-color !important;
  }
  &[class*="-tertiary"] {
    background-color:$tertiary-color;
  }
  &[class*="-light-grey"] {
    background-color:$light-grey;
    color:$font-color;
  }
  pre {
    background:white;
  }
}
