.bannerpane {
  background:$secondary-color;
  background:linear-gradient(135deg, #006289 0%,#00a5e1 50%,#53b9db 100%);
  color:white;
  
  div[class*='col-'] {
    padding-top:6rem;
    padding-bottom:6rem;
  }
}