/* Bootstrap Overrides */

// Bootstrap colors
$theme-colors: (
  'primary':#ec3d46,
  'secondary':#00a5e1,
  'success':#28a745,
  'info':#17a2b8,
  'warning':#ffc107,
  'danger':#dc3545,
  'light':#f8f9fa,
  'dark':#343a40
);

// Grid breakpoints (changed to relative units to fix cross-platform inconsistencies)
$grid-breakpoints: (
  xs: 0,
  sm: 36rem, //576px
  md: 48rem, //768px
  lg: 62rem, //992px
  xl: 75rem, //1200px
  xxl: 87.5rem //1400px
);

// Grid containers (changed to relative units to fix cross-platform inconsistencies)
$container-max-widths: (
  sm: 33.75rem, //540px
  md: 45rem, //720px
  lg: 60rem, //960px
  xl: 71.25rem, //1140px
  xxl: 82.5rem //1320px
);

// Override Bootstrap spacers for more options
$spacer:1rem;
$spacers: (
  0: 0,
  half: ($spacer / 2),
  1: $spacer,
  3half: ($spacer * 1.5),
  2: ($spacer * 2),
  3: ($spacer * 3),
  4: ($spacer * 4),
  5: ($spacer * 5),
  6: ($spacer * 6),
  7: ($spacer * 7),
  8: ($spacer * 8)
);

// Get rid of deprecated warnings
$enable-deprecation-messages: false;

// Change gutter width
$grid-gutter-width: 2rem;

// Form Control changes
$input-height:2rem;
$input-color:#444;
$input-font-size:13;
$input-border-radius:2px;
$input-padding-y:.25rem;
$input-padding-x:.75rem;

$form-check-input-margin-y:3px;

$custom-file-height-inner:unset;
$custom-file-line-height:1.61539;