$base-font-size: 16;
$lineheight: 1.5;
$base-line-height: 24;
$defaultlineheight: $base-font-size * 1.5;

$font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$open-sans: 'Open Sans', "HelveticaNeue", "Helvetica Neue", serif;